@import url(./base.css);

/*  */
.container {
	position: relative;
	margin: 10px auto 0;
	padding: 30px;

	width: 650px;
	height: 800px;

	font-family: 'Playfair Display', serif;

	border-radius: 5px;
	background-image: linear-gradient(#444754, #4c5262, #444754);
	color: #fff;
}

.title {
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1.4px;
	font-size: 24px;
	text-align: center;
}

.row {
	margin-top: 20px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form__inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.input-styles {
	padding: 5px 10px;
	border-radius: 3px;
	border: 2px solid #ffffff4c;
	letter-spacing: 1.4px;

	font-family: 'Lato', sans-serif;
	font-style: italic;
}

.input-styles::placeholder {
	color: #ffffff4c;
	font-style: italic;
	font-family: 'Playfair Display', serif;
}

.input-styles:focus {
	border: 2px solid #fff;
}

.desc {
}

.number {
}

.categories {
	display: grid;
	grid-template-columns: 1fr 30px 30px;
	gap: 20px;
}

.select-categories {
	background: transparent;
	border-radius: 3px;
	border: 2px solid #ffffff4c;
}

.select-categories option {
	background: #6a6e7f;
}

.select-categories option:checked {
	background-color: #fff;
	color: #50535f;
}

.select-categories option:hover {
	background-color: #fff;
	color: #50535f;
}

.select-categories:focus {
	border: 2px solid #fff;
}

.btn {
	padding: 5px;

	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1.6px;

	border-radius: 3px;
	background: #6a6e7f;
	color: #fff;

	transition: all 0.3s ease;
}

.btn:hover {
	background: #fff;
	color: #50535f;
}

.btn-cate {
	padding: 5px 5px 0 5px;
}

.sort {
	border-top: 1px solid #ffffff4c;

	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.sort__inputs {
	margin-top: 10px;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
}

.sort__btns {
	margin-top: 10px;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
}

.sort__start {
	display: flex;
	gap: 5px;
}

.overflow {
	margin-top: 10px;

	overflow: auto;
	border-top: 1px solid #ffffff4c;
}

.overflow::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}

.overflow::-webkit-scrollbar-thumb {
	background-color: #ffffff4c;
	border-radius: 10px;
}

.list {
	max-height: 390px;
	height: 100%;

	margin-right: 8px;
	padding-top: 8px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.empty {
	margin-top: 20px;
	color: #d2d2d2;
	font-style: italic;
	letter-spacing: 1.2px;
	font-size: 14px;

	list-style: none;
}

.item {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	gap: 15px;
	justify-content: end;

	color: #fafafa;
}
.item__date {
	color: #d2d2d2;
}

.item__title {
	font-style: italic;
	letter-spacing: 1.2px;
}

.item__number {
	align-content: end;
	text-align: end;
}

.item__delete-btn {
}

.item__delete-btn svg {
	width: 20px;
	height: 20px;
}

.bnt--clear {
	font-size: 12px;
	background-color: transparent;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.total {
	margin-top: 10px;
	margin-right: 5px;

	position: absolute;
	bottom: 25px;
	left: 25px;

	font-weight: 700;
	font-style: italic;
	letter-spacing: 1.2px;
}

.total span {
	font-style: normal;
	font-weight: 400;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__content {
	position: relative;

	padding: 20px;
	min-width: 300px;

	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 20px;

	border-radius: 5px;
	color: #fff;
	background-image: linear-gradient(#444754, #4c5262, #444754);
}

.btn-modal-close {
	position: absolute;
	top: 5px;
	right: 5px;
}

.modal__input {
	margin-top: 20px;
}

.btn-modal {
	padding: 5px;

	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1.6px;

	border-radius: 3px;
	background: #6a6e7f;
	color: #fff;

	transition: all 0.3s ease;
}

.btn-modal:hover {
	background: #fff;
	color: #50535f;
}

.modal-del__title {
	margin-top: 10px;
	font-size: 18px;
}

.modal__list {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 5px;

	font-size: 16px;
}

.modal-del__input::placeholder {
	font-size: 14px;
}

.mt0 {
	margin-top: 0;
}

.modal__item {
}

@media (max-width: 767px) {
	.container {
		padding: 15px;
		width: 570px;
		height: 750px;
	}

	.btn {
		font-size: 14px;
	}

	.bnt--clear {
		font-size: 12px;
	}

	.sort {
		display: flex;
		flex-direction: column;
	}

	.sort__inputs {
		justify-content: start;
	}

	.sort__btns {
		justify-content: start;
	}

	.list {
		max-height: 320px;
	}
}

@media (max-width: 576px) {
	.container {
		width: 370px;
		height: 580px;
	}

	.title {
		font-size: 18px;
	}

	.row {
		margin-top: 10px;
	}

	.form {
		gap: 8px;
	}

	.form__inputs {
		gap: 5px;
	}

	.input-styles {
		padding: 3px 5px;
	}
	.input-styles::placeholder {
		font-size: 14px;
	}

	.categories {
		font-size: 14px;
		gap: 10px;
	}
	.select-categories {
		font-size: 14px;
	}

	.btn {
		padding: 3px 10px;
	}

	.btn-cate {
		padding: 5px 5px 0 5px;
		width: 25px;
		height: 25px;
	}

	.list {
		max-height: 235px;
	}

	.item {
		font-size: 12px;
	}

	.item__delete-btn {
		width: 15px;
		height: 15px;
	}

	.empty {
		margin-top: 8px;
		font-size: 12px;
	}

	.sort {
		gap: 5px;
	}

	.sort__inputs {
		margin-top: 5px;

		font-size: 14px;
	}

	.sort__btns {
		margin-top: 5px;
	}

	.total {
		font-size: 12px;
	}

	.bnt--clear {
		padding: 2px;
		font-size: 10px;
	}
}
